In [1]:
#Import Modules and DataSet
import pandas as pd
import numpy as np

df = pd.read_csv('E:/DataSets/Pump Sensor Data/sensor.csv')
df.head()

,Unnamed: 0,timestamp,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
0,0,2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
1,1,2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.310760,634.3750,76.45975,13.41146,16.13136,...,41.92708,39.641200,65.68287,50.92593,38.194440,157.9861,67.70834,243.0556,201.3889,NORMAL
2,2,2018-04-01 00:02:00,2.444734,47.35243,53.2118,46.397570,638.8889,73.54598,13.32465,16.03733,...,41.66666,39.351852,65.39352,51.21528,38.194443,155.9606,67.12963,241.3194,203.7037,NORMAL
3,3,2018-04-01 00:03:00,2.460474,47.09201,53.1684,46.397568,628.1250,76.98898,13.31742,16.24711,...,40.88541,39.062500,64.81481,51.21528,38.194440,155.9606,66.84028,240.4514,203.1250,NORMAL
4,4,2018-04-01 00:04:00,2.445718,47.13541,53.2118,46.397568,636.4583,76.58897,13.35359,16.21094,...,41.40625,38.773150,65.10416,51.79398,38.773150,158.2755,66.55093,242.1875,201.3889,NORMAL

In [2]:
#Delete the Count(1st) Column
del df['Unnamed: 0']
# convert time into index 
df['index'] = pd.to_datetime(df['timestamp'])
df.index = df['index']
# delete the colunmns 
del df['index']
del df['timestamp']
df.head(2)

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
index,,,,,,,,,,,,,,,,,,,,,
2018-04-01 00:00:00,2.465394,47.09201,53.2118,46.31076,634.375,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.6412,65.68287,50.92593,38.19444,157.9861,67.70834,243.0556,201.3889,NORMAL
2018-04-01 00:01:00,2.465394,47.09201,53.2118,46.31076,634.375,76.45975,13.41146,16.13136,15.56713,15.05353,...,41.92708,39.6412,65.68287,50.92593,38.19444,157.9861,67.70834,243.0556,201.3889,NORMAL

In [3]:
df['sensor_15'].nunique() # no unique - complete zero
# drop the column 
df.drop(['sensor_15'], axis=1, inplace = True)
print(df.shape)
df.info()

(220320, 52)
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 220320 entries, 2018-04-01 00:00:00 to 2018-08-31 23:59:00
Data columns (total 52 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   sensor_00       210112 non-null  float64
 1   sensor_01       219951 non-null  float64
 2   sensor_02       220301 non-null  float64
 3   sensor_03       220301 non-null  float64
 4   sensor_04       220301 non-null  float64
 5   sensor_05       220301 non-null  float64
 6   sensor_06       215522 non-null  float64
 7   sensor_07       214869 non-null  float64
 8   sensor_08       215213 non-null  float64
 9   sensor_09       215725 non-null  float64
 10  sensor_10       220301 non-null  float64
 11  sensor_11       220301 non-null  float64
 12  sensor_12       220301 non-null  float64
 13  sensor_13       220301 non-null  float64
 14  sensor_14       220299 non-null  float64
 15  sensor_16       220289 non-null  float64
 16  sensor_17       220274 non-null  float64
 17  sensor_18       220274 non-null  float64
 18  sensor_19       220304 non-null  float64
 19  sensor_20       220304 non-null  float64
 20  sensor_21       220304 non-null  float64
 21  sensor_22       220279 non-null  float64
 22  sensor_23       220304 non-null  float64
 23  sensor_24       220304 non-null  float64
 24  sensor_25       220284 non-null  float64
 25  sensor_26       220300 non-null  float64
 26  sensor_27       220304 non-null  float64
 27  sensor_28       220304 non-null  float64
 28  sensor_29       220248 non-null  float64
 29  sensor_30       220059 non-null  float64
 30  sensor_31       220304 non-null  float64
 31  sensor_32       220252 non-null  float64
 32  sensor_33       220304 non-null  float64
 33  sensor_34       220304 non-null  float64
 34  sensor_35       220304 non-null  float64
 35  sensor_36       220304 non-null  float64
 36  sensor_37       220304 non-null  float64
 37  sensor_38       220293 non-null  float64
 38  sensor_39       220293 non-null  float64
 39  sensor_40       220293 non-null  float64
 40  sensor_41       220293 non-null  float64
 41  sensor_42       220293 non-null  float64
 42  sensor_43       220293 non-null  float64
 43  sensor_44       220293 non-null  float64
 44  sensor_45       220293 non-null  float64
 45  sensor_46       220293 non-null  float64
 46  sensor_47       220293 non-null  float64
 47  sensor_48       220293 non-null  float64
 48  sensor_49       220293 non-null  float64
 49  sensor_50       143303 non-null  float64
 50  sensor_51       204937 non-null  float64
 51  machine_status  220320 non-null  object
dtypes: float64(51), object(1)
memory usage: 89.1+ MB

In [4]:
# machine status - no null 
# we will drop na in whole dataframe 
df['sensor_00'].isna().sum()

10208

In [5]:
df['machine_status'].unique()#'NORMAL', 'BROKEN', 'RECOVERING' 
df['machine_status'].value_counts()

NORMAL        205836
RECOVERING     14477
BROKEN             7
Name: machine_status, dtype: int64

In [6]:
# apply label encoder to encode the machine status
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['machine_status'] = le.fit_transform(df['machine_status'])
df['machine_status'].value_counts()

# 1 - normal 
# 2 - recovering 
# 0 - broken

1    205836
2     14477
0         7
Name: machine_status, dtype: int64

In [7]:
#  look on complete data frame when device is broken
df_broken = df[df.machine_status ==0]
df_broken

,sensor_00,sensor_01,sensor_02,sensor_03,sensor_04,sensor_05,sensor_06,sensor_07,sensor_08,sensor_09,...,sensor_43,sensor_44,sensor_45,sensor_46,sensor_47,sensor_48,sensor_49,sensor_50,sensor_51,machine_status
index,,,,,,,,,,,,,,,,,,,,,
2018-04-12 21:55:00,0.000000,53.342010,52.821180,43.402775,202.526031,49.79289,3.219039,16.890910,16.869210,15.082470,...,50.78125,50.92593,51.215280,50.636570,46.006940,409.143500,121.527800,401.909700,324.6528,0
2018-04-18 00:30:00,1.093982,42.534720,47.699650,41.449650,206.038757,60.30106,12.304690,15.154800,14.185470,13.867190,...,42.70833,34.72222,31.539350,34.432870,33.275460,59.895830,44.560180,177.662000,183.7384,0
2018-05-19 03:18:00,2.258796,47.265630,52.734370,43.446178,200.115738,66.14643,13.592300,15.914350,15.147570,14.793110,...,39.06250,35.01157,37.905090,39.062500,45.428240,144.675900,49.768520,246.238400,257.5231,0
2018-05-25 00:30:00,2.321759,47.482640,51.475693,42.795135,612.152800,67.30158,14.062500,16.608800,15.943290,15.596060,...,202.34370,65.68287,57.870370,127.893500,153.935200,155.381900,65.682870,220.196800,267.3611,0
2018-06-28 22:00:00,0.364005,40.190970,45.225690,40.190971,201.368622,0.00000,11.335360,15.270540,15.183740,15.118630,...,32.29166,28.06713,28.067129,29.513889,29.224537,29.224537,29.513889,32.407406,NaN,0
2018-07-08 00:11:00,0.001968,45.138890,52.907990,45.355900,500.000000,1.40131,0.028935,0.036169,0.036169,0.007234,...,36.19791,37.32639,35.300930,38.194440,43.402780,99.537030,44.849540,192.129600,174.7685,0
2018-07-25 14:00:00,2.318808,45.833332,52.994790,43.880210,420.503448,72.52040,14.185470,16.247110,15.697340,15.053530,...,51.30208,52.10200,52.662040,67.129630,43.981480,230.324100,69.733800,NaN,205.7292,0

In [8]:
#used ffill(Forward Fill) method to fill the missing values
#Since the Data is a timeseries data, we use ffill
df = df.fillna(method='ffill')

In [9]:
#Building The Classifier
X = df.drop(['machine_status'], axis=1)
print("Data Shape ",X.shape)
Y = df['machine_status']
print("Class Shape = ",Y.shape)

Data Shape  (220320, 51)
Class Shape =  (220320,)

In [10]:
# apply the logistic regression 
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.30, random_state = 42)
model = LogisticRegression(max_iter = 400).fit(X_train, y_train)

S:\Anaconda Navigator\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [11]:
# predict
y_pred = model.predict(X_test)
# evaluate the model
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
cm = pd.crosstab(y_test,y_pred, rownames=['True'], colnames=['Predicted'], margins=True)
cm

Predicted      1     2    All
True
0              2     0      2
1          61655   149  61804
2             63  4227   4290
All        61720  4376  66096

In [12]:
# accuracy is not a good metrics for Anomaly detection and imblaanced dataset
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.996762285160978

In [13]:
# Classification Report
cr = classification_report(y_pred, y_test)
print(cr)

              precision    recall  f1-score   support

           0       0.00      0.00      0.00         0
           1       1.00      1.00      1.00     61720
           2       0.99      0.97      0.98      4376

    accuracy                           1.00     66096
   macro avg       0.66      0.65      0.66     66096
weighted avg       1.00      1.00      1.00     66096

S:\Anaconda Navigator\lib\site-packages\sklearn\metrics\_classification.py:1272: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [15]:
#Even though the Accuracy Score for the model is really high(99.67%), the precision and recall for the minority class is really
#low. Hence it is not a good model. So we Apply SMOTE algorithm to balance the data and then Check for the values
!pip install imblearn

Collecting imblearn
  Downloading imblearn-0.0-py2.py3-none-any.whl (1.9 kB)
Collecting imbalanced-learn
  Downloading imbalanced_learn-0.6.2-py3-none-any.whl (163 kB)
Requirement already satisfied: scikit-learn>=0.22 in s:\anaconda navigator\lib\site-packages (from imbalanced-learn->imblearn) (0.22.1)
Requirement already satisfied: scipy>=0.17 in s:\anaconda navigator\lib\site-packages (from imbalanced-learn->imblearn) (1.4.1)
Requirement already satisfied: numpy>=1.11 in s:\anaconda navigator\lib\site-packages (from imbalanced-learn->imblearn) (1.18.1)
Requirement already satisfied: joblib>=0.11 in s:\anaconda navigator\lib\site-packages (from imbalanced-learn->imblearn) (0.14.1)
Installing collected packages: imbalanced-learn, imblearn
Successfully installed imbalanced-learn-0.6.2 imblearn-0.0

In [21]:
from imblearn.over_sampling import SMOTE 
sm = SMOTE(random_state = 12,k_neighbors =4) 
X_train_res, y_train_res = sm.fit_sample(X_train, y_train)
print('After OverSampling, the shape of train_X: {}'.format(X_train_res.shape)) 
print('After OverSampling, the shape of train_y: {} \n'.format(y_train_res.shape))

print("After OverSampling, counts of label '0': {}".format(sum(y_train_res == 0))) 
print("After OverSampling, counts of label '1': {}".format(sum(y_train_res == 1))) 
print("After OverSampling, counts of label '2': {}".format(sum(y_train_res == 2)))

After OverSampling, the shape of train_X: (432096, 51)
After OverSampling, the shape of train_y: (432096,)

After OverSampling, counts of label '0': 144032
After OverSampling, counts of label '1': 144032
After OverSampling, counts of label '2': 144032

In [22]:
model1=LogisticRegression(max_iter=400).fit(X_train_res,y_train_res)

S:\Anaconda Navigator\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [24]:
# predict
y_pred = model1.predict(X_test)
# evaluate the model
from sklearn.metrics import confusion_matrix, classification_report, accuracy_score
cm = pd.crosstab(y_test,y_pred, rownames=['True'], colnames=['Predicted'], margins=True)
cm

Predicted    0      1     2    All
True
0            1      1     0      2
1           95  61327   382  61804
2           15      6  4269   4290
All        111  61334  4651  66096

In [25]:
# accuracy is not a good metrics for Anomaly detection and imblaanced dataset
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.9924503752118131

In [26]:
# Classification Report
cr = classification_report(y_pred, y_test)
print(cr)

              precision    recall  f1-score   support

           0       0.50      0.01      0.02       111
           1       0.99      1.00      1.00     61334
           2       1.00      0.92      0.95      4651

    accuracy                           0.99     66096
   macro avg       0.83      0.64      0.66     66096
weighted avg       0.99      0.99      0.99     66096

In [ ]:
#Even though the Accuracy has reduced a bit(99.67% to 99.24%)the precision and recall for the minority class has increased
#significantly. Hence the oversampled Model is better than the Previous model